:root {
  --font-family: 'Lexend Deca', sans-serif;
  --body-font-family: 'Roboto', sans-serif;

  /* Common */
  --node-stroke-width: 2px;

  /* Light mode colors */
  --background-hexagon-color-light: #FFFFFF;
  --background_hexagon-path-light: url('@/assets/hexagons_light.svg');
  --background-color-light: #00FFFF;
  --node-stroke-color-light: #0000FF;
  --node-background-color-light: #FFFFFF;
  --wiki-stroke-color-light: #8000FF;
  --wiki-background-color-light: #FFFFFF;
  --text-color-light: #000000;
  --secondary-text-color-light: #848484;
  --process-card-stroke-color-light: #00FFFF;

  /* Dark mode colors */
  --background-hexagon-color-dark: #012737;
  --background_hexagon-path-dark: url('@/assets/hexagons.svg');
  --background-color-dark: #00324B;
  --node-stroke-color-dark: #FFFFFF;
  --node-background-color-dark: #00324B;
  --edge-color-dark: #708090;
  --wiki-stroke-color-dark: #34495E;
  --wiki-background-color-dark: #002A3F;
  --text-color-dark: #FFFFFF;
  --secondary-text-color-dark: #D0D0D0;
  --process-card-stroke-color-dark: #34495E;

  /* Node direction colors - dark mode */
  --node-up-stroke-color-dark: #41F038;
  --node-up-neon-color-dark: #41F038;
  --node-down-stroke-color-dark: #FF0000;
  --node-down-neon-color-dark: #FF0000;
}
